.main {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
